{% extends "base.html" %}

{% block content %}
    <!-- Compose Form -->
    <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-8 max-w-3xl mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-6 text-center text-purple-700 dark:text-purple-300">Edit Message</h2>

        <form method="POST" action="">
            <!-- Message Type (disabled) -->
            <div>
                <label class="block mb-2 font-medium text-gray-700 dark:text-gray-300">Message Type</label>
                <select name="message_type" id="message_type" disabled
                        class="w-full px-4 py-2 border rounded dark:bg-gray-700 dark:border-gray-600 cursor-not-allowed">
                    <option value="{{ message.channel }}">{{ message.channel|capitalize }}</option>
                </select>
            </div>

            <!-- Subject (only visible if type is email) -->
            <div id="email-subject" class="{% if message.channel != 'email' %}hidden{% endif %} mt-4">
                <label class="block mb-2 font-medium text-gray-700 dark:text-gray-300">Subject</label>
                <input type="text" name="subject" value="{{ message.content['subject'] }}"
                       class="w-full px-4 py-2 border rounded dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            </div>

            <!-- Message -->
            <div class="mt-4">
                <label class="block mb-2 font-medium text-gray-700 dark:text-gray-300">Message</label>
                <textarea name="content" rows="4" required
                          class="w-full px-4 py-2 border rounded dark:bg-gray-700 dark:border-gray-600 dark:text-white">{{ message.content['message'] }}</textarea>
            </div>

             <!-- Schedule -->
            <div class="mt-4">
                <label class="block mb-2 font-medium">Schedule Date & Time</label>
                <input type="datetime-local" name="schedule_time"
                       class="w-full px-4 py-2 border rounded dark:bg-gray-700 dark:border-gray-600" value="{{ message.schedule_time }}">
            </div>


            <!-- Buttons -->
            <div class="flex justify-end gap-4 mt-6">
                <a href="{{ url_for('messages') }}"
                   class="px-6 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-700">
                    Cancel
                </a>
                <button type="submit"
                        class="px-6 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                    Update Message
                </button>
            </div>
        </form>
    </div>

{% endblock %}
